/* 텍스트 호버될 때 [text 커서]로 변경되는 것 없애기 */
div {
  cursor: default;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.body-container {
  display: flex;
  height: 100vh;
}

/* 우측만 스크롤 */
.main {
  flex: 1;
  overflow: hidden;
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column;
}

.globalbar {
  display: flex;
  height: var(--bar-height);
  padding: 8px var(--padding-md);
  align-items: center;
}

.localbar {
  display: flex;
  height: var(--bar-height);
  padding: 8px var(--padding-md) 0 var(--padding-md);
  align-items: center;
  border-bottom: 1px solid var(--color-line);
}

.localbar-tab {
  height: 24px;
  padding: 4px 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.localbar-tab:hover {
  background-color: var(--color-hover);
  border-radius: var(--radius-sm);
}