.table-container {
  margin-bottom: 10px;
}

.table-wrapper {
  /* 표 열고 닫는 애니메이션 */
  overflow-x: scroll;
  transition: height 0.3s ease;
  padding: 0 20px;
}

table {
  height: auto;
  border-radius: 10px;
  border-spacing: 0;
  border: 2px solid var(--color-line);
  overflow: hidden; /* 모서리 부분 다듬기 */
}

table * {
  /* 드래그 허용 */
  -webkit-user-select: text;  /* 크롬, 사파리 */
  -moz-user-select: unset;    /* 파이어폭스 */
  -ms-user-select: unset;     /* IE, 엣지 */
  user-select: text;          /* 표준 속성 */
}

.toggle-button {
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 2px;
  box-sizing: border-box;

  rotate: 0deg;
  transition: rotate 0.3s ease;
}

.toggle-button.closed {
  rotate: -90deg;
}

.table-title {
  display: flex;
  align-items: center;
  padding: 20px 20px 0 20px;
  gap: 10px;
  margin-bottom: 10px;

  font-size: var(--fontsize-md);
  font-weight: bold;
}

th {
  flex: 1;
  padding: 6px 10px;
  border: 1px solid var(--color-line);
  background-color: var(--color-container-700);
  box-sizing: border-box;
}

td {
  flex: 1;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px var(--color-line);
}

td .td-text {
  white-space: break-spaces;
  word-break: break-word;
}

/* 테이블 내에 데이터가 하나도 없을 때 */
td.empty {
  font-style: oblique;
  text-align: center;
  color: var(--color-text-light-3);
}

td input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: 0;
  border: none;
  
}
td textarea {
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  border: none;
  white-space: break-spaces;
  word-break: break-word;
}


/* TABLE TEXT STYLE */
td .td-text, input, textarea {
  margin: 0;
  padding: 6px 10px;
  font-size: var(--fontsize-table);
  line-height: var(--line-height-table);
  font-family: sans-serif;
}

/* SCHEDULE EDITOR */

.schedule-row {
  width: 100%;
  padding: 6px 10px;
  box-sizing: border-box;
  border-bottom: 1px dashed var(--color-line);
}

.schedule-row.editing {
  width: 241px;
}

.schdule-td > div:last-child {
  border-bottom: none;
}

.schedule-weekday {
  margin: 4px 0;
  border-radius: 6px;
  overflow: hidden;
}

.schedule-weekday button {
  padding: 4px 10px;
  border: none;
  color: var(--color-text-light-3);
  background: var(--color-container-800);
  cursor: pointer;
}
.schedule-weekday button.selected {
  background: var(--color-brand-1);
  color: var(--color-text-light-1);
}

.schedule-time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
  border-radius: 6px;
  overflow: hidden;
  background: var(--color-container-800);
}

.schedule-time input {
  padding: 4px 8px;
  margin: 4px 2px;
  border: none;
  text-align: center;
  font-size: 16px;
  color: var(--color-text-light-3);
  background: var(--color-container-800);
}

.schedule-time input:focus {
  outline: none;
  color: var(--color-text-light-1);
}

/* HOVER */

.schedule-row:hover {
  background-color: var(--color-container-800);
}

tr:hover, td:hover {
  background-color: var(--color-container-800);
}

.schdule-td:hover {
  background-color: unset;
}

.hover-block:hover {
  background-color: unset;
}

.editing:hover {
  background-color: unset;
}